.dropdown-menu.show {
  left: unset;
  right: 0 !important;
  width: 320px !important;
  margin-top: 13px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productDetails {
  color: #6c6c6c;
  font-size: 12px;
}
