.dropdown-menu.show {
  left: unset;
  right: 0 !important;
  width: 320px !important;
  margin-top: 13px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productDetails {
  color: #6c6c6c;
  font-size: 12px;
}

.cartItem {
  max-height: 300px;
  overflow-y: auto;
}

.cartItem::-webkit-scrollbar {
  width: 2px;
  margin: 3px;
  display: block;
}


.cartItem::-webkit-scrollbar-track {
  background: #ffffff;
}

.cartItem::-webkit-scrollbar-thumb {
  background: #dddddd;
}

.cartItem::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}
